[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
djangorestframework = "*"
psycopg2 = "*"
pyjwt = "*"
django = "==2.2.20"
psycopg2-binary = "*"
django-heroku = "*"
Pillow = "*"

[requires]
python_version = "3.7"
